<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
     <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/auth.css">

</head>
<body>

<div class="auth-container">

    <h2>Forgot Password</h2>

    <input type="email" id="email" placeholder="Enter your email">

    <button onclick="sendOTP()">Send OTP</button>

</div>

<script>
async function sendOTP(){

    const email = document.getElementById("email").value;

    const res = await fetch("/api/forgot-password",{
        method:"POST",
        headers:{ "Content-Type":"application/json" },
        body: JSON.stringify({ email })
    });

    const data = await res.json();

    if(data.success){
        alert("OTP sent to email 📩");

        // 👉 move to next step
        window.location.href = "/verify-otp?email=" + email;

    }else{
        alert(data.message);
    }
}
</script>

</body>
</html>